* {
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.overflow-y-scroll {
  overflow-y: scroll;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.width-full {
  width: 100%;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f2f2f2;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar-links {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar-links:active {
  background-color: #04aa6d;
  color: white;
}
.list-style-none {
  list-style: none;
}
.page-content {
  margin-left: 20%;
  padding: 1px 16px;
  height: 1000px;
  background-color: #ffffffe6;
}
.border-radius-50 {
  border-radius: 50%;
}
